<%= bootstrap_form_for @pickup , url: pickups_path, html: { multipart: true } do |f| %>
  <div class="modal-body">
  <% if @pickup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pickup.errors.count, "error") %> prohibited this pickup from being saved:</h2>

      <ul>
      <% @pickup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h1><%= current_user.name %></h1>
    <%= f.hidden_field :user_id, required: true, class: 'form-control', value:current_user.id  %>
  </div>

  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.text_field :lng , :id=>"cur_long" %>
  </div>
  <div class="field">
    <%= f.text_field :lat ,:id=>"cur_lat" %>
  </div>

  <script>

  if(navigator.geolocation)
   navigator.geolocation.getCurrentPosition(displayOnMap);
  function displayOnMap(position){
    $("#cur_long").val(position.coords.longitude);
    $("#cur_lat").val(position.coords.latitude);
  };

 </script>
 <div class="field">
    <%= f.number_field :obj_type %>
  </div>
  <div class="field">
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.date_select :start_time %>
  </div>
  <div class="field">
    <%= f.date_select :end_time %>
  </div>
  <div class="field">
    <%= f.text_area :description %>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
    <%= f.button :sumbit, :class => "btn btn-primary" %>
  </div>
<% end %>
