<%= bootstrap_form_for(@pickup) do |f| %>

  <% if @pickup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pickup.errors.count, "error") %> prohibited this pickup from being saved:</h2>

      <ul>
      <% @pickup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h1><%= current_user.name %></h1>
    <%= f.hidden_field :uid, required: true, class: 'form-control', value:current_user.id  %>
  </div>

  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.text_field :long , :id=>"cur_long" %>
  </div>
  <div class="field">
    <%= f.text_field :lat ,:id=>"cur_lat" %>
  </div>
  <div style ='width: 500px;'>
    <div id="geolocation" style='width: 450px; height: 200px;'></div>
  </div>
  <script>
  var handler = Gmaps.build('Google');
  handler.buildMap({
       internal: {id: 'geolocation'}
     }, function(){
         if(navigator.geolocation)
          navigator.geolocation.getCurrentPosition(displayOnMap);
  });

  function displayOnMap(position){
    var marker = handler.addMarker({
      lat: position.coords.latitude,
      lng: position.coords.longitude
    });
    $("#cur_long").val(position.coords.longitude);
    $("#cur_lat").val(position.coords.latitude);
    handler.map.centerOn(marker);
  };
 </script>

  <div class="field">
    <%= f.number_field :obj_type %>
  </div>
  <div class="field">
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.date_select :start_time %>
  </div>
  <div class="field">
    <%= f.date_select :end_time %>
  </div>
  <div class="field">
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
