<div class="container">
<p id="notice"><%= notice %></p>
<% if @alert != '' %>
  <div class="alert alert-danger" id="alert" role="alert"> <%= alert %> </div>
<% end %>

<h1>Browse Pickups</h1>

<p> Browse Pickups that are available </p>

<hr>



<!--<%= link_to "getLocation", pickups_path(@getLocation, :lng => @lng, :lat => @lat) %> -->
<div class="row">
<div class="col-md-3">
<%= form_tag(pickups_search_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-group">
      <%= text_field_tag :search_des, params[:search_des], placeholder: "Search", :class => "form-control" %>
      <!-- In order to have the "search" icon int the button, we need to use plain HTML instead
           of using a Rails form helper -->
      <span class="input-group-btn">
        <button class="btn btn-primary">Search by Description</button>
      </span>
      <!-- <button class="btn" type="submit"><i class="icon-search"></i></button> -->
    </div>
  <% end %>
</div>

<div class="col-md-3">
<%= form_tag(pickups_search_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-group">
      <%= number_field_tag :search_type, params[:search_type], placeholder: "Search", :class => "form-control" %>
      <!-- In order to have the "search" icon int the button, we need to use plain HTML instead
           of using a Rails form helper -->
      <span class="input-group-btn">
        <button class="btn btn-primary">Search by type</button>
      </span>
      <!-- <button class="btn" type="submit"><i class="icon-search"></i></button> -->
    </div>
  <% end %>
</div>

<div class="col-md-3">
<%= form_tag(pickups_search_path, :method => "get", class: "navbar-form", id: "search-area-form") do %>
    <div class="input-group">
      <%= number_field_tag :search_area, params[:search_area], placeholder: "Input Miles", :class => "form-control" %>
      <span class="input-group-btn">
        <button class="btn btn-primary">Search within miles</button>
      </span>
      <% params.delete :lng %>
      <% params.delete :lat %>
      <%= hidden_field :lng, params[:lng], :id=>"curlng"%>
      <%= hidden_field :lat, params[:lat], :id=>"curlat"%>
      <script>
        if(navigator.geolocation)
          navigator.geolocation.getCurrentPosition(displayOnMap);
        function displayOnMap(position){
          $("#curlng").val(position.coords.longitude);
          $("#curlat").val(position.coords.latitude);
        };
      </script>

    </div>
  <% end %>
</script>

</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal">
Create your PickUp!
</button>

<br>
<br>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New PickUp</h4>
      </div>
        <%= render 'form' %>
    </div>
  </div>
</div>



    <% @pickups.each do |pickup| %>
      <% cache pickup do %>
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail">

          <%= image_tag pickup.avatar.url %>

          <div class="caption">
            <h3><%= pickup.name %></h3>
            <h4> $<%= pickup.price %> </h4>
            <h4> Seller: <%= pickup.user_id %> </h4>
            <p><%= pickup.description %></p>
            <p><%= link_to 'More info', pickup, :class => "btn btn-primary" %> <%= link_to 'Edit', edit_pickup_path(pickup), :class => "btn btn-default" %></p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>

<br>

</div>
