<div class="container">
<h1>Rate Your Trader</h1>
<%= form_tag users_search_path, :method => "get" do %>
	<p>
		Put Name Here:
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "search", :name => nil, class: "btn btn-primary" %>
	</p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Reputation</th>
      <th>Add Reputation</th>
    </tr>
  </thead>

  <tbody>
	<% if @user.present? %>
		<td><%= @user.name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.reputation.round(2) %></td>
        <td>
			<%= form_tag users_search_path, :method => "get" do %>
			<%= select_tag(:rep,options_for_select([['1',1],['2',2],['3',3],['4',4],['5',5]], 5)) %>
			<%= hidden_field_tag "name", @user.name %>
			<%= submit_tag "Comment", :name => nil  %>
			<% end %>
		</td>
    <% end %>
  </tbody>
</table>
</div>