<div class="container">
<h1> Dashboard </h1>
  <% cache current_user do %>
  	<% if current_user %>
      <h2><%= current_user.name %></h2>
      <h3><%= current_user.email %></h3>
    <% end %>
  <% end %>


  <hr>


   <% @paginatable_pickups.each do |pickup| %>
      <% cache pickup do %>
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail">

          <%= image_tag pickup.avatar.url %>

          <div class="caption">
            <h3><%= pickup.name %></h3>
            <h4> $<%= pickup.price %> </h4>
            <h4> Seller: <%= pickup.user_id %> </h4>
            <p><%= pickup.description %></p>
            <p><%= link_to 'More info', pickup, :class => "btn btn-primary" %> <%= link_to 'Edit', edit_pickup_path(pickup), :class => "btn btn-default" %></p>
          </div>
        </div>
      </div>
      <% end %>

      <% end %>
</div>

<div class="center">
     <%= paginate @paginatable_pickups %> 
</div>

